{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
                <td>{{ stock.symbol | upper() }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ stock.total | usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0">{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Grand total</td>
            <td class="border-0">{{ grand_total | usd }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}